body{
    background-color: black;
}

h1{
    color: yellow;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
}

a{
    color: orange;
    font-family: 'HankenBook';
    font-weight: normal;
    font-style: normal;
}

#me{
  text-align: center;
}

#u{
  text-align: center;
}
